language: node_js

node_js:
 - 12.16.0
 
cache: npm

 
script:
 -npm test
 -npm run build 

deploy:
 provider: pages
 skip-cleanup: true
 github-token: $GITHUB_TOKEN
 on:
  branch: gh-pages

"os": [
"windows"
]








