html {
  background: url('../assets/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height:100%;
  width:100%;
}

body {
  background: transparent;

  height:100%;
  width:100%;

  margin:0px;
}

body, input, button {
  font-family: 'Source Sans Pro', sans-serif;
}

.main_container {

  display:table;

  height:100%;
  width:100%;

  margin:0 auto;
  text-align:center;
}

.middle_pane {

  display: table-cell;
  vertical-align: middle;
}

.login_pane {

  margin:0 auto;
  width:400px;
}

.login_form {
  background:#c4cd7061;
  padding:20px;

  box-shadow:1px 1px 14px 1px black;
}

.login_button {
  margin-top: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #6935d0;
    border: none;
    box-shadow: 1px 1px 4px 1px black;
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
    margin-bottom:20px;
    font-family: Times, Times New Roman, serif;
    border-radius:10px;
}

.login_button:hover {
  background:#8a64d4;
  cursor: hover;
}

#noaccount {
  font-size:14px;
  color:grey;
}

#register_click {
  color:#005f7d;
  font-size:14px;
  text-decoration: none;
}

#register_click:visited {
  color:#005f7d;
  text-decoration: none;
}

#register_click:hover {
  color:#1490b7;
}

.input_group {

  margin:10px 0px;
}

.form-control {
  font-size:16px;
  border-radius:10px;
  border:none;
  padding:5px;
  margin-left:10px;
  margin-top:5px;
}

.input-group-addon {

}

/*
*
* micromodal
*
*/

#register_modal {
  display: none;
  width:100%;
  height:100%;
  background:#000000a6;
  position:fixed;
  top:0;
}

#register_modal.is-open {
  display: table;
}

#nologin {
  color:red;
  display:none;
  padding:20px;
  letter-spacing: 2px;
}

.register_pane {
  margin:0 auto;
  width:500px;
}

.register_form {
  background:#c4cd70d9;
  padding:20px;
  text-align: center;

  box-shadow:1px 1px 14px 1px black;
}

#titlo {
  height:100px;
  margin-bottom: 25px;
  margin-top: -35px;
}

.title_register_form {
  letter-spacing: 2px;
  margin:50px;
  top:20px;
}
.registaformayaya {
  margin-top:20px;
}

#register_confirm_password {
  margin-left:5px;
}

.boing {
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  margin-top:10px;


  margin-top: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #6935d0;
    border: none;
    box-shadow: 1px 1px 4px 1px black;
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
    margin-bottom:20px;
    font-family: Times, Times New Roman, serif;
    border-radius:10px;
}

.boing:hover {
  background:#8a64d4;
}

#noregister {
  color:white;
  padding:20px;
  letter-spacing: 2px;
  text-align: center;
}

#mcontainer {
  width:1100px;
  height:100%;
  margin:0 auto;
}

#left_menu {
  width:150px;
}

#left_menu::-webkit-scrollbar {
  display: none;
}

#feed_col {
  width:550px;
}

#feed_col::-webkit-scrollbar {
  display: none;
}

#comments_col {}

#comments_col::-webkit-scrollbar {
  display: none;
}

.inner_cont {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.inda_inner_cont {
  background: #c4cd7061;
  height:91%;
  margin:10px;
  border-radius: 10px;
  box-shadow: 1px 1px 14px 1px black;
  overflow-y: scroll;
}

.inda_inner_cont::-webkit-scrollbar {
  display: none;
}

.row {
  height:100%;
}
.column {
  float: left;
  height:100%;
  display: table;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#logo_top_small {
  background-image: url("../assets/logosmall.png");
  background-size:cover;
  width:75px;
  height:75px;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:30px;
}

.mitem {
  width: 30px;
  height:30px;
  /*background:purple;*/
  margin:0 auto;
  margin-top:15px;
  background-size:cover;
}

.mitem:hover {
  cursor:pointer;
}

#menu_item_1 {
    background-image:url('../assets/dashboard_30.png');
}

#menu_item_2{
    background-image:url('../assets/camera_30.png');
}

#menu_item_3 {
    background-image:url('../assets/gear_30.png');
}

#menu_item_4 {
    background-image:url('../assets/shutdown_30.png');
}

#menu_item_1:hover {
    background-image:url('../assets/dashboard_hover_30.png');
}

#menu_item_2:hover {
    background-image:url('../assets/camera_hover_30.png');
}

#menu_item_3:hover {
    background-image:url('../assets/settings_hover_30.png');
}

#menu_item_4:hover {
    background-image:url('../assets/shutdown_hover_30.png');
}

#indafeed {
  width:550px;
}

#indacomments {
  width:350px;
}

.numba_commentos {
  background:white;
  box-shadow:1px 1px 10px 1px #060606;
  width:100%;
  margin-top:30px;
  line-height: 3;
  text-align: center;
  margin-bottom:20px;
}

.comment {
  padding-left:10px;
  padding-right:10px;
}

.commenter_user {
  display: inline;
  font-weight: bold;
}

.zawords {
  display: inline;
  margin-left: 20px;
  line-height: 2;
  word-break: break-all;
}

/*
*
* left nav bar
*
*/

#menu_left {

  height:91%;
  width:160px;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#44aa6bc2;
  overflow-x: hidden;
  padding:20px;
  border-radius:15px;
  margin:15px 0px 15px 15px;

  overflow-y:scroll;
  box-shadow: 0 0 20px 1px black;
}

#menu_left::-webkit-scrollbar {
  display:none;
}

#logo_top {
  height:84px;
  width:160px;
  background-image: url(../assets/logo160.png);
  background-size:120px;
  background-position: center;
  background-repeat: no-repeat;
}

.menu_item_left {
  width:160px;
  height:160px;
  background:#afdeab;
  margin-top:10px;
  border-radius:10px;

  background-size:40px;background-repeat:no-repeat;background-position:center;
}

#actif {
  border-right: 3px solid #6b00ca;
}

.menu_item_left:hover {
  background:#70d068;
  border-right:3px solid white;
  cursor:pointer;

  background-size:40px;background-repeat:no-repeat;background-position:center;
}

.dashboard_main_container {
  margin-left: 185px;
  padding:0px 0px 0px 35px;

  display: none;
}

#main_content {
  margin-left:10px;

  height:91%;
  position:fixed;
  top:0;

}

#feed {

  background:#44aa6bc2;
  box-shadow: 0 0 20px 1px black;
  margin:15px 10px 10px 10px;
  border-radius:15px;
  display:inline-block;
  width:600px;
  overflow-y:scroll;
  height:100%;
  overflow-x: hidden;
  padding-top:20px;
  padding-bottom: 20px;
}

#feed::-webkit-scrollbar {
  display:none;
}

.post {

  background:white;
  padding:20px;
  margin-top:30px;
  margin-bottom: 70px;
  box-shadow:1px 1px 10px 1px #060606;
}

.post_description {
  line-height: 1.5;
  margin-bottom: 15px;
}

.image_container {
  max-height: 400px;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}

.buttons_containah {
  height:30px;
  margin-top:15px;
}

.like_button{
  background-image:url("../assets/heart.png");
  width:30px;
  height:30px;
  background-size: 30px;
  display:inline-block;

  margin-right:10px;

}

.like_button:hover {
  background-image:url("../assets/heart_hover.png");
}

.commentario {
  background-image:url("../assets/comment.png");
  width:30px;
  height:30px;
  background-size: 30px;
  display:inline-block;
}

.commentario:hover {
  background-image: url("../assets/comment_hover.png");
}

#comments {
  background:#44aa6bc2;
  box-shadow: 0 0 20px 1px black;
  margin:15px 10px 10px 10px;
  border-radius:15px;
  display:inline-block;
  width:400px;
  overflow-y: scroll;
  position: fixed;
  top:0;
  height: 91%;
  padding-top:20px;
  padding-bottom: 20px;
}

#comments::-webkit-scrollbar {
  display:none;
}

#select_a_post_container {
  display:table;
  height:100%;
  width: 100%;
}

#select_a_post {
  display: table-cell;
  vertical-align: middle;
}

#select_a_post_inner {
  background:white;
  box-shadow:1px 1px 10px 1px #060606;
  width:100%;
  margin-top:30px;
  line-height: 3;
  text-align: center;
}

.input_container_send_message {
  padding:10px;
}

#comment_input {
  width:210px;
  border:none;
  box-shadow:1px 1px 10px 1px #060606;
  padding:10px;
  border-radius:10px;
}

#sendacomment {
  margin-left:10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #6935d0;
    border: none;
    box-shadow: 1px 1px 4px 1px black;
    color: white;
    font-size:20px;
    letter-spacing: 3px;
    margin-bottom:20px;
    font-family: Times, Times New Roman, serif;
    border-radius:10px;
}

#sendacomment:hover {
  background: #8a64d4;
}

@media only screen and (max-width: 800px) {
  #feed {
    display:block;
    width:100%;
  }
  #comments {
    display:block;
    width:100%;
  }
}

#post_image_modal {
  display: none;
  width:100%;
  height:100%;
  background:#000000a6;
  position:fixed;
  top:0;
  z-index:9999;
}

#post_image_modal.is-open {
  display: table;
}

.add_post_pane {

  margin:0 auto;
  width:500px;
}

.post_image_form {

  background:#c4cd70eb;
  padding:20px;

  box-shadow:1px 1px 14px 1px black;

}

.title_post_modal_form {

}

#image_success_modal {
  display:none;
width:100%;
height:100%;
background:#000000a6;
position:fixed;
top:0;
z-index:9999;
}

#image_success_modal.is-open {
display: table;
}

/*
*
*
* SPINNA
*
*/

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/*
*
* userboard
*
*/
#user_col {
  width:325px;
}

#gallery_col {
  width:625px;
}

/*.grid-item {
  width:200px;
  overflow: hidden;
}*/

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* fluid 5 columns */
.grid-sizer {
  overflow: hidden;
}

.grid-item {
  overflow:hidden;
  /*min-height: 200px;
  max-height: 300px;*/
  height:400px;
  /*float:left;*/
}

.grid-sizer,
.grid-item { width: 25%; }
/* 2 columns */
.grid-item--width2 { width: 50%; }

.m_image {
  width: 100%;
  height:100%;
  box-shadow: inset -1px 2px 20px 1px #0a0a0a;
}


.user_avatar_container {
  width:100%;
  height:300px;
}

.avatar_img {
  height:300px;
  width: 305px;
}

#id_button_follow {
  display: block;
  margin: 0 auto;
  margin-bottom:20px;
}

.follow_or_scrap {
  text-align: center;
  margin-top:40px;
}

.unfollow_button_user {
  margin-top: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: #9c88c3;
  border: none;
  box-shadow: 1px 1px 4px 1px black;
  font-size: 20px;
  color: #c7c7c7;
  letter-spacing: 3px;
  margin-bottom:20px;
  font-family: Times, Times New Roman, serif;
  border-radius:10px;
}

.button_user {
  margin-bottom: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: #6935d0;
  border: none;
  box-shadow: 1px 1px 4px 1px black;
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  margin-bottom:20px;
  font-family: Times, Times New Roman, serif;
  border-radius:10px;
  width:100px;
}

.unfollow_button_user:hover {
  cursor:pointer;
  background: #888;
}

.button_user:hover {
  background:#8a64d4;
  cursor: pointer;
}

.username {
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.numba_followers {
  margin-bottom: 40px;
}

#id_scrap_button_user {
  /*margin-top:20px;*/
}
